@media (width <= 1919px) {
  .sections-container {
    max-width: 1440px;
  }

  /* HEADER */

  .div-logo {
    margin-left: 6.25vw;
  }

  .right-button-header {
    margin-right: 6.25vw;
  }

  .header-contacts {
    right: calc(6.25vw + 216px);
  }

  /* SECTION MAIN */

  .section-main {
    height: 817px;
  }

  .section-main-left {
    padding-left: 6.25%;
  }

  .section-main-text {
    margin-top: 231px;
  }

  .h1 {
    font: var(--font-h11-72s);
  }

  .section-main-lower-text-span {
    top: 95px;
    left: 398px;
  }

  .section-main-header-circles {
    top: 153px;
    left: 0.0278vw;

    width: 380px;
  }

  .section-main-right {
    margin-right: 63px;
  }

  .section-main-video {
    width: 545px;
    margin-top: 80px;
  }

  .section-main-right-text {
    margin-top: 36px;
    margin-right: 102px;
  }

  .section-main-arrow {
    top: 659px;
    right: 102px;
  }

  /* SECTION ABOUT */

  .section-about {
    height: 1068px;
  }

  .scrolling-text-section-about {
    font: var(--font-h2-100b);
  }

  .section-about-scrolling-text-lower {
    top: 52px;
  }

  .section-about-main {
    margin-top: 168px;
  }

  .left-photos-section-about {
    position: relative;

    margin-top: 80px;
    margin-left: 0;
  }

  .info-block-photo-1 {
    position: absolute;
    left: -38px;
    width: 108px;

    height: 700px;
  }

  .info-block-photo-2 {
    width: 438px;
    height: 700px;
    margin-left: 90px;
  }

  .main-text-right-section-about {
    margin-top: 93px;

    font: var(--font-16r);
  }

  .main-text-right-section-about-1 {
    width: 274px;
  }

  .text-indent-35 {
    text-indent: 29px;
  }

  .main-text-right-section-about-2 {
    width: 274px;
    margin-left: 55.73px;
  }

  .text-indent-193 {
    text-indent: 173px;
  }

  .text-indent-86 {
    text-indent: 56px;
  }

  .info-block-arrow {
    margin-top: 401.33px;
    margin-left: 39px;
  }

  .lower-right-section-about-text {
    width: 287px;
    height: 96px;
    margin-top: 391px;

    font: var(--font-h8-28r);
  }

  .info-block-image-goldenrec {
    top: 271px;
    left: 55.73px;
  }

  .info-block-image-Ivan {
    top: 153px;
    left: 183.73px;
  }

  /* SECTION PLAYLISTS */

  .section-playlists {
    height: 580px;
  }

  .section-playlists-video-div {
    width: 583px;
  }

  .sections-playlists-video {
    margin-top: 102px;
    margin-left: 90px;
  }

  .section-playlists-right-header {
    width: 703px;
    margin-top: 80px;

    font: var(--font-h12-48b);
    gap: 8px;
  }

  .section-playlists-right-header-1 {
    text-indent: 348px;
  }

  .section-playlists-right-header-low {
    margin-top: 6px;
  }

  .section-playlists-right-images {
    margin-top: 18px;
  }

  .section-playlists-right-text {
    top: 230px;
    left: 403px;

    width: 360px;

    font: var(--font-14m);
  }

  /* SECTION WORKS */

  .section-works {
    height: 1012px;
  }

  .sections-works-header {
    width: 748px;
    margin-top: 120px;
    margin-left: 90px;

    font: var(--font-h13-48r);

    gap: 8px;
    letter-spacing: var(--font-h13-48r-letter-spacing);
  }

  .sections-works-header-1 {
    margin-left: 455px;
  }

  .sections-works-header-2 {
    margin-left: 200px;
  }

  .sections-works-header-3 {
    word-spacing: 13px;
  }

  .sections-works-header-inside {
    width: 61px;

    font: var(--font-20m);
  }

  .section-works-upper-right-text {
    width: 207px;
    margin-top: 256px;
    margin-right: 90px;

    font: var(--font-14rr);
  }

  .section-works-line {
    top: 332px;
    right: 90px;

    width: 492px;
  }

  .section-works-audio-cards-container {
    top: 432px;
  }

  .card-1 {
    margin-left: 10090px;
  }

  .section-works-scroll-buttons-container {
    right: 90px;
    bottom: 120px;
  }

  .section-works-lower-text-container {
    bottom: 120px;
    left: 90px;

    font: var(--font-14rr);
  }

  .section-works-lower-text-line {
    width: 46px;
    margin-top: -3px;
  }

  /* SECTION STAGES */

  .section-stages {
    height: 999px;
  }

  .sections-stages-header {
    width: 70%;
    height: 196px;

    margin-top: 120px;
    margin-left: 218px;

    font: var(--font-h13-48r);

    gap: 8px;
    letter-spacing: var(--font-h13-48r-letter-spacing);
  }

  .sections-stages-header-1 {
    margin-left: auto;
  }

  .section-stages-lower-container ul {
    width: 823px;
    height: 412px;
    margin-top: 112px;
    margin-left: 90px;
  }

  .section-stages-lower-container ul li:not(:first-of-type) {
    margin-top: 48px;
  }

  .section-stages-lower-container-ul-li-img {
    margin-right: 20px;
  }

  .section-stages-ul-description {
    font: var(--font-14r);
  }

  .section-stages-ul-numbers {
    margin-right: 16px;
  }

  .section-stages-ul-header {
    font: var(--font-16rr);
  }

  .section-stages-ul-a {
    width: 155px;

    font: var(--font-14r);
  }

  .section-stages-video-cassette {
    width: 310px;
    height: 491px;
    margin-top: 72px;
    margin-left: 128px;
  }

  /* SECTION PRICES */

  .section-prices {
    height: 1077px;
  }

  .section-prices-header-container {
    top: 120px;
  }

  .section-prices-header {
    font: var(--font-h2-100b);
  }

  .section-prices-header-scrolling-text-lower {
    top: 52px;
  }

  .section-prices-lists-container {
    padding-right: 90px;

    padding-left: 90px;
    margin-top: 388px;
  }

  .section-prices-lists-header {
    font: var(--font-24bb);
  }

  .section-prices-ul {
    margin-top: 47px;

    font: var(--font-14m);
  }

  .section-prices-li {
    margin-top: 12px;
  }

  .section-prices-price {
    margin-top: 58px;
  }

  /* SECTION REVIEWS */

  .section-reviews {
    height: 880px;
  }

  .section-reviews-upper-part {
    margin-top: 120px;
  }

  .section-reviews-upper-part-left-container {
    width: 558px;
  }

  .section-reviews-quotes-img {
    margin-left: 94.26px;
  }

  .section-reviews-quote {
    width: 250px;

    font: var(--font-14rr);
  }

  .section-reviews-header {
    width: 795px;
    height: 196px;
    font: var(--font-h13-48r);

    gap: 8px;
    letter-spacing: var(--font-h13-48r-letter-spacing);
  }

  .section-reviews-header-1 {
    margin-left: 214px;
  }

  .section-reviews-lower-part {
    margin-top: 92px;
  }

  .section-reviews-reviews-container {
    padding-left: 90px;
  }

  .section-reviews-review {
    width: 620px;
    height: 280px;
  
    padding: 33px 32px 0;
  }

  .section-reviews-review-text {
    width: 556px;

    font: var(--font-14r);
  }

  .section-reviews-review-site-logo {
    right: 32px;
  }

  .section-reviews-scroll-buttons-container {
    position: absolute;
    right: 202px;
    bottom: 60px;

    margin: 0;
  }

  /* SECTION COMMUNICATION */

  .section-communication {
    height: 640px;
  }

  .section-communication-left-container {
    width: 283px;
    margin-top: 180px;
    margin-left: 90px;
  }

  .section-communication-header-p {
    width: 245px;
    margin-top: 13px;

    font: var(--font-16r);
  }

  .section-communication-a-container {
    margin-top: 75px;
  }

  .section-communication-right-container {
    margin-top: 190px;
    margin-right: 90px;
  }

  .section-communication-form-upper-container {
    margin-bottom: 25px;
  }

  .section-communication-fieldset-name {
    height: 48px;
  }

  .section-communication-fieldset-phone {
    height: 48px;
  }

  .section-communication-fieldset-message {
    height: 96px;
  }

  .section-communication-form input:not([type="checkbox"]),
  textarea {
    margin-right: 26px;
    margin-left: 26px;
  }

  .section-communication-form .phonenumber-input-container {
    margin-top: 3px;

    font: var(--font-14r);
  }

  .section-communication-form-legend {
    font: var(--font-h14-12r);
  }

  .section-communication-form-lower-container {
    margin-top: 36px;
  }

  /* MODAL */

  .form-input-error {
    bottom: -20px;
  }

  /* FOOTER */

  .footer {
    height: 374px;
  }

  .footer-container {
    padding: 80px 90px;
  }

  /* UI KIT */

  .scroll-button svg {
    width: 32px;
    height: 32px;
  }

  .scroll-button-left {
    margin-right: 44px;
  }

}
