@import url("./fonts.css");

:root {
  --main-background: #111223;
  --dark-grey-background: #1d1e2e;
  --yellow: #ffcb5a;
  --error-color: #eb5757;
  --dark-grey-elements-1: #444;
  --dark-grey-elements-2: #41414f;
  --light-grey: #888891;
  --dark-white: #d2d2d2;
  --white-1: #fff;
  --white-2: #ebebeb;
}

html {
  background-color: var(--main-background);
  color-scheme: dark light;

  scroll-behavior: smooth;

  &[data-theme="light"] {
    color-scheme: light;
  }

  &[data-theme="dark"] {
    color-scheme: dark;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.sections-container {
  max-width: 1920px;
  height: 100%;

  margin-right: auto;
  margin-left: auto;
}

/* HEADER */

.head {
  position: fixed;

  z-index: 100;

  top: 0;
  right: 0;
  left: 0;

  display: flex;

  height: 90px;

  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--dark-grey-elements-1);
  backdrop-filter: blur(8px);

  background: var(--main-background);
}

.header-menu-line {
  display: none;
}

.div-logo {
  display: flex;

  height: 100%;
  align-items: center;

  margin-left: 202px;

  pointer-events: all;
}

.logo-header {
  max-width: 50px;
  height: auto;
}

.logo-name-header {
  margin-left: 20px;

  color: var(--white-1);

  font: var(--font-28l);
}

.header-menu-button {
  display: none;
}

.nav {
  display: flex;

  align-items: center;
}

.nav-ul {
  display: flex;

  align-items: center;

  font: var(--font-16m);
}

.nav-ul li {
  margin: 0 20px;
}

.right-button-header {
  width: 182px;

  margin-right: 202px;
}

.header-contacts {
  position: absolute;

  right: 419px;
}

.header-contacts-phone {
  color: var(--white-1);

  font: var(--font-16r);

  white-space: nowrap;
}

.header-contacts-phone-small {
  display: none;
}

.header-contacts-messengers {
  display: flex;
  flex-direction: row-reverse;

  margin-top: 4px;
}

.header-contacts-messengers-item img {
  width: 18px;
  height: 18px;

  margin-left: 12px;
}

.header-right-container-img-container {
  display: none;
}

/* SECTION MAIN */

.main {
  margin-top: 90px;
}

.section-main {
  height: 960px;
}

.section-main-container {
  position: relative;
  display: flex;
}

.section-main-left {
  padding-left: 202px;
}

.section-main-text {
  position: relative;

  z-index: 10;

  margin-top: 302px;
}

.h1 {
  color: var(--yellow);
  font: var(--font-h3-88b);
}

.h2 {
  color: var(--white-2);
}

.section-main-lower-text-span {
  position: absolute;

  top: 98px;
  left: 470px;

  width: 325px;

  color: var(--white-1);

  font: var(--font-h9-28l);
  letter-spacing: 0.28px;
}

.section-main-header-circles {
  position: absolute;

  top: 218px;

  left: 54px;

  user-select: none;
}

.section-main-buttons {
  display: flex;

  margin-top: 142px;

  user-select: none;
}

.section-main-button-2 {
  margin-left: 20px;
}

.section-main-right {
  position: relative;

  margin-right: 132px;
}

.section-main-video {
  width: 683px;
  height: auto;

  margin-top: 75px;
}

.section-main-right-text {
  display: flex;

  width: 195px;
  flex-direction: column;

  margin-top: 26px;
  margin-right: 74px;
  margin-left: auto;

  color: var(--white-1);
  font: var(--font-h8-28r);
  user-select: none;
}

.section-main-right-text-2 {
  text-indent: 67px;
}

.section-main-arrow {
  position: absolute;
  top: 782px;
  right: 79px;

  width: 45px;
  height: 29px;
}

/* SECTION ABOUT */

.section-about {
  height: 1173px;
}

.section-about-container {
  display: flex;
  flex-direction: column;
}

.scrolling-text-section-about-container {
  position: absolute;
  right: 0;
  left: 0;
}

.scrolling-text-section-about {
  position: relative;
  overflow: hidden;

  height: 182px;

  color: var(--white-2);

  font: var(--font-h1-112b);
  user-select: none;
  white-space: nowrap;
}

.section-about-scrolling-text-upper {
  position: absolute;
  left: -3653px;

  color: var(--main-background);
  -webkit-text-stroke: 1px var(--white-2);
}

.section-about-scrolling-text-lower {
  position: absolute;
  top: 66px;
  left: -3168px;

  color: var(--yellow);
}

.section-about-main {
  display: flex;

  margin-top: 182px;
}

.left-photos-section-about {
  display: flex;

  width: 566px;

  margin-top: 100px;
  margin-left: 74px;
}

.info-block-photo-1 {
  max-width: 108px;
  height: 751px;
}

.info-block-photo-2 {
  width: 100%;
  height: auto;
  margin-left: 20px;

  background-image: url("../assets/images/info-block-photo-2.jpg");
  background-position: center;
  background-size: cover;
}

.right-section-about {
  display: flex;

  width: 100%;
  flex-direction: column;
}

.main-text-right-section-about {
  display: flex;

  margin-top: 100px;
  margin-left: 128px;

  color: var(--white-2);
  font: var(--font-18r);

  text-align: justify;
}

.main-text-right-section-about-1 {
  width: 310px;
}

.main-text-right-section-about-1-p-1::after {
  display: inline-block;
  width: 100%;
  content: "";
}

.text-indent-35 {
  text-indent: 35px;
}

.main-text-right-section-about-2 {
  width: 310px;
  margin-left: 74px;
}

.text-indent-193 {
  text-indent: 193px;
}

.text-indent-86 {
  text-indent: 86px;
}

.lower-right-section-about {
  display: flex;
}

.info-block-arrow {
  margin-top: 340px;
  margin-left: 24px;
}

.lower-right-section-about-text {
  width: 330px;
  margin-top: 303px;
  margin-left: 23px;

  color: var(--white-1);
  font: var(--font-h7-32r);

  text-shadow: 1px 0 1px #000;
  -webkit-text-stroke: 0.2px var(--main-background);
  user-select: none;
}

.lower-right-section-about-images {
  position: relative;
}

.info-block-image-goldenrec {
  position: absolute;

  z-index: 10;

  top: 301px;
  left: 256px;

  width: 182px;
  height: 236px;
}

.info-block-image-Ivan {
  position: absolute;

  top: 183px;
  left: 384px;

  width: 236px;
  height: 236px;
}

/* SECTION PLAYLISTS */

.section-playlists {
  height: 600px;

  background-color: var(--yellow);
}

.section-playlists-container {
  display: flex;
}

.section-playlists-video-div {
  width: 873px;
}

.section-playlists-right-div {
  position: relative;
}

.sections-playlists-video {
  width: 364px;
  height: 376px;

  border-radius: 5px;
  margin-top: 112px;
  margin-left: 202px;
}

.section-playlists-right-header {
  display: flex;

  flex-direction: column;

  margin-top: 72px;

  color: var(--main-background);
  font: var(--font-h5-56bl);
  gap: 12px;
  letter-spacing: 2px;
}

.section-playlists-right-header-1 {
  text-indent: 348px;
}

.section-playlists-right-images {
  display: flex;

  margin-top: 24px;
}

.section-playlists-right-images li {
  margin-right: 24px;
}

.section-playlists-right-images li img {
  width: 32px;
  height: 32px;
}

.playlists-block-image-yandex {
  border-radius: 12px;
  background-color: var(--white-1);
}

.section-playlists-right-text {
  position: absolute;
  top: 244px;
  left: 460px;

  width: 384px;

  color: var(--dark-grey-elements-1);
  font: var(--font-16m);
}

/* SECTION WORKS */

.section-works {
  height: 1145px;

  overflow-x: hidden;
}

.section-works-container {
  position: relative;
}

.section-works-upper {
  position: relative;
  display: flex;
}

.sections-works-header {
  display: flex;

  width: 961px;
  flex-direction: column;

  margin-top: 140px;
  margin-left: 202px;
  color: var(--white-2);
  font: var(--font-h5-56m);

  gap: 12px;
  letter-spacing: 2px;

  -webkit-text-stroke: 1px var(--white-2);
  user-select: none;
}

.sections-works-header-1 {
  margin-left: 600px;
}

.sections-works-header-2 {
  display: flex;

  margin-left: 280px;
}

.sections-works-header-inside {
  display: inline;

  width: 77px;
  align-self: center;

  color: var(--yellow);
  font: var(--font-24m);

  text-align: justify;
  -webkit-text-stroke: 0;
}

.section-works-upper-right-text {
  width: 230px;
  margin-top: 269px;
  margin-right: 202px;

  margin-left: auto;
  color: var(--white-1);
  font: var(--font-16rr);

  text-align: right;
  user-select: none;
}

.section-works-line {
  position: absolute;
  top: 373px;
  right: 202px;

  user-select: none;
}

.section-works-audio-cards-container {
  position: absolute;
  top: 533px;
  left: -10000px;

  display: flex;

  overflow-x: scroll;

  scroll-behavior: smooth;
}

.section-works-audio-cards-container::-webkit-scrollbar {
  width: 0;
}

.section-works-audio-card {
  position: relative;
  display: flex;

  width: 492px;
  height: 300px;
  box-sizing: border-box;
  flex-direction: column;
  padding: 20px 20px 38px;
  border: 0.5px solid var(--light-grey);

  border-radius: 12px;

  margin-right: 20px;
  backdrop-filter: blur(10px);
  background: var(--dark-grey-elements-2);

  box-shadow: 8px 8px 4px 0 rgb(0 0 0 / 25%);
}

.section-works-audio-card-player {
  display: none !important;
}

.section-works-audio-card-head {
  display: flex;
}

.section-works-audio-card-img {
  width: 80px;
  height: 80px;

  border-radius: 10px;
  user-select: none;
}

.section-works-audio-card-head-title-container {
  display: flex;
  flex-direction: column;

  margin-left: 12px;
}

.section-works-audio-card-head-title {
  color: var(--white-1);
  font: var(--font-24r);
}

.section-works-audio-card-head-artist-name {
  margin-top: 4px;

  color: var(--white-2);
  font: var(--font-16rr);
}

.section-works-audio-card-site-container {
  display: flex;

  margin-left: auto;

  color: var(--white-1);
  font: var(--font-14r);
}

.section-works-audio-card-site-img {
  width: 14px;
  height: 14px;
  margin-top: 1px;
  margin-right: 8px;
}

.section-works-audio-card-controls {
  display: flex;

  width: 164px;
  height: 32px;

  align-self: center;
  justify-content: space-between;

  margin-top: 32px;
}

.section-works-audio-card-controls button {
  background-color: unset;
}

.section-works-audio-card-progress-bar-container {
  position: relative;
  display: flex;

  width: 100%;
  height: 4px;
  align-self: center;

  border-radius: 3.334px;

  margin-top: 64px;
  background: var(--light-grey);

  cursor: pointer;
}

.section-works-audio-card-progress-bar-container::before {
  position: absolute;
  content: "";
  inset: -12px -8px;
  opacity: 0;
  pointer-events: auto;
}

.section-works-audio-card-progress-bar-container:hover::before {
  opacity: 1;
}

.section-works-audio-card-progress-bar {
  height: 4px;

  border-radius: 3.334px;
  background: var(--white-1);
}

.section-works-audio-card-progress-bar-circle {
  position: relative;

  z-index: 20;

  width: 16px;
  height: 16px;
  margin-top: -6px;

  margin-left: -1px;
  cursor: pointer;
}

.section-works-audio-card-time-container {
  display: flex;
  justify-content: space-between;

  margin-top: auto;

  color: var(--white-1);
  font: var(--font-14r);
  user-select: none;
}

.section-works-audio-card-before-after {
  position: absolute;
  z-index: 10;
  bottom: 38px;
  left: 42.4797%;
  display: flex;

  width: 96px;
  align-items: end;

  color: var(--white-1);
  font: var(--font-14r);
  pointer-events: none;
  user-select: none;
}

.section-works-audio-card-progress-bar-vertical-line {
  margin-right: 20px;
  margin-bottom: 5px;
  margin-left: 20px;
}

.card-1 {
  margin-left: 10202px;
}

.fixer {
  min-width: 1px;
  height: 1px;
  transform: translateX(1000000px);
}

.fixer2 {
  min-width: 1px;
  height: 1px;
  transform: translateX(1000000px);
}

.section-works-scroll-buttons-container {
  position: absolute;

  right: 202px;
  bottom: 212px;
  display: flex;
}

.section-works-scroll-buttons-container button {
  background-color: var(--main-background);
}

.section-works-lower-text-container {
  position: absolute;
  bottom: 140px;

  left: 202px;
  display: flex;

  color: var(--white-2);
  font: var(--font-16rr);
}

.section-works-lower-text-container > div {
  width: 182px;
}

.section-works-lower-text-container-button {
  display: inline-flex;
  flex-direction: column;
}

.section-works-lower-text-container-button a {
  color: inherit;
}

.section-works-lower-text-line {
  margin-top: -3px;
}

/* SECTION STAGES */

.section-stages {
  overflow: hidden;
  height: 1128px;
  background-color: var(--dark-grey-background);
}

.sections-stages-header {
  display: flex;

  width: 1343px;
  height: 216px;
  flex-direction: column;

  align-items: flex-start;
  margin-top: 140px;
  margin-left: 373px;
  color: var(--yellow);
  font: var(--font-h5-56m);

  gap: 12px;
  letter-spacing: 2px;

  -webkit-text-stroke: 1px var(--yellow);
}

.sections-stages-header-1 {
  margin-left: 363px;
}

.section-stages-lower-container {
  display: flex;
}

.section-stages-lower-container ul {
  width: 1004px;

  margin-top: 120px;
  margin-left: 202px;
}

.section-stages-lower-container ul li {
  display: flex;
  align-items: center;

  color: var(--white-1);
}

.section-stages-lower-container ul li:not(:first-of-type) {
  margin-top: 56px;
}

.mt0 {
  margin-top: 0;
}

.section-stages-lower-container-ul-li-img {
  height: 1px;
  flex-grow: 1;
  margin-right: 32px;
  margin-left: 32px;

  background-color: var(--white-1);
}

.section-stages-ul-description {
  width: 182px;

  color: var(--white-2);
  font: var(--font-16r);
}

.section-stages-ul-numbers {
  display: flex;

  width: 54px;

  margin-right: 32px;
  font: var(--font-40l);
}

.section-stages-ul-header {
  font: var(--font-20rr);
}

.section-stages-ul-a {
  display: flex;

  width: 173px;
  align-items: center;

  margin-top: 7px;

  color: var(--yellow);
  font: var(--font-16m);
}

.section-stages-ul-a-img {
  margin-left: 8px;
}

.section-stages-video-cassette {
  width: 362px;
  height: 572px;
  margin-top: 60px;
  margin-left: 148px;
}

/* SECTION PRICES */

.section-prices {
  position: relative;
  overflow: hidden;
  height: 1198px;
}

.section-prices-header-container {
  position: absolute;
  top: 142px;
  right: 0;
  left: 0;
}

.section-prices-header {
  position: relative;

  overflow: hidden;

  height: 182px;

  font: var(--font-h1-112b);
  user-select: none;
}

.section-prices-header-scrolling-text-upper {
  position: absolute;
  left: -3653px;

  color: var(--main-background);
  -webkit-text-stroke: 1px var(--white-2);

  white-space: nowrap;
}

.section-prices-header-scrolling-text-lower {
  position: absolute;
  top: 66px;
  left: -3168px;

  color: var(--yellow);

  white-space: nowrap;
}

.section-prices-lists-container {
  display: flex;
  justify-content: space-between;
  padding-right: 193px;
  padding-left: 202px;

  margin-top: 462px;
}

.section-prices-lists-container > div {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}

.section-prices-lists-header {
  color: var(--white-1);
  font: var(--font-28bb);
}

.section-prices-ul {
  margin-top: 46px;

  font: var(--font-16r);
}

.section-prices-li {
  position: relative;

  margin-top: 14px;
  margin-left: 34px;
}

.section-prices-li-active {
  color: var(--white-2);
}

.section-prices-li-active::before {
  position: absolute;
  left: -34px;

  width: 20px;
  height: 20px;

  background-image: url("../assets/images/section-prices-li-active.svg");
  background-repeat: no-repeat;
  background-size: cover;

  content: "";
}

.section-prices-li-inactive {
  color: var(--light-grey);
}

.section-prices-li-inactive::before {
  position: absolute;
  left: -34px;

  width: 20px;
  height: 20px;

  background-image: url("../assets/images/section-prices-li-inactive.svg");
  background-repeat: no-repeat;
  background-size: cover;

  content: "";
}

.section-prices-price {
  margin-top: 56px;

  color: var(--white-1);
  font: var(--font-40m);
}

.section-prices-warning-container {
  position: relative;
  display: flex;

  width: 126px;
  align-items: center;

  margin-top: 4px;
}

.section-prices-warning-img {
  width: 14px;
  height: 14px;
}

.section-prices-warning-text {
  margin-left: 8px;

  color: var(--light-grey);
  font: var(--font-12m);
}

.section-prices-warning-hover-text {
  position: absolute;

  top: -64px;
  left: -12px;

  width: 360px;
  box-sizing: border-box;

  padding: 8px 12px;
  background-color: var(--dark-grey-elements-2);

  color: var(--white-2);
  font: var(--font-12r);

  opacity: 0;
  transition: opacity 0.3s;
}

.section-prices-warning-hover-img {
  position: absolute;

  top: -12px;
  left: -12px;

  opacity: 0;
  transition: opacity 0.3s;
}

.section-prices-warning-img:hover ~ .section-prices-warning-hover-text,
.section-prices-warning-img:hover ~ .section-prices-warning-hover-img {
  opacity: 1;
}

.section-prices-button {
  margin-top: 24px;

  user-select: none;
}

/* SECTION REVIEWS */

.section-reviews {
  height: 1016px;

  background-color: var(--dark-grey-background);
  overflow-x: hidden;
}

.section-reviews-container {
  display: flex;
  flex-direction: column;
}

.section-reviews-upper-part {
  display: flex;

  margin-top: 140px;
}

.section-reviews-upper-part-left-container {
  display: flex;

  width: 798px;
}

.section-reviews-quotes-img {
  width: 21.172px;
  height: 18.867px;
  margin-left: 165px;
}

.section-reviews-quote {
  width: 298px;
  margin-left: 15.5px;

  color: var(--white-2);
  font: var(--font-16rr);
}

.section-reviews-header {
  display: flex;

  width: 920px;
  height: 216px;
  flex-direction: column;

  color: var(--yellow);
  font: var(--font-h5-56m);

  gap: 12px;
  letter-spacing: 2px;
}

.section-reviews-header-1 {
  margin-left: 227px;
}

.section-reviews-lower-part {
  position: relative;
  display: flex;

  height: 100%;
  flex-direction: column;

  margin-top: 100px;
}

.section-reviews-reviews-container {
  position: absolute;

  left: -10000px;

  display: flex;

  padding-left: 202px;

  overflow-x: scroll;

  scroll-behavior: smooth;
}

.section-reviews-reviews-container::-webkit-scrollbar {
  width: 0;
}

.section-reviews-review-1 {
  margin-left: 10000px;
}

.section-reviews-review {
  position: relative;

  width: 748px;
  height: 320px;
  box-sizing: border-box;
  padding: 40px 54px 0;

  border: 1px solid var(--light-grey);
  border-radius: 5px;

  margin-right: 20px;
}

.section-reviews-review-head {
  display: flex;
}

/* stylelint-disable-next-line no-descending-specificity */
.section-reviews-review-stars-container img {
  margin-right: 4px;
}

.section-reviews-review-img {
  width: 44px;

  border-radius: 100%;
}

.section-reviews-review-head-name-container {
  margin-left: 20px;

  color: var(--white-1);
  font: var(--font-16s);
}

.section-reviews-review-stars-container {
  display: flex;

  margin-top: 8px;
  user-select: none;
}

.section-reviews-review-text {
  margin-top: 28px;

  color: var(--white-2);
  font: var(--font-16r);
}

.section-reviews-review-site-logo {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 52px;
}

.section-reviews-scroll-buttons-container {
  display: flex;

  margin: auto 202px 140px auto;
}

.section-reviews-scroll-buttons-container button {
  background-color: var(--dark-grey-background);
}

/* SECTION COMMUNICATION */

.section-communication {
  height: 795px;
}

.section-communication-container {
  display: flex;
}

.section-communication-left-container {
  margin-top: 220px;
  margin-left: 201px;
}

.section-communication-header {
  color: var(--white-2);
  font: var(--font-h6-48b);
}

.section-communication-header-p {
  width: 357px;
  margin-top: 32px;

  color: var(--white-2);
  font: var(--font-22r);
}

.section-communication-a-container {
  display: flex;

  margin-top: 102px;
}

.section-communication-a-container a {
  margin-right: 20px;
}

.section-communication-right-container {
  margin-top: 221px;
  margin-right: 203px;
  margin-left: auto;
}

.section-communication-form-upper-container {
  display: flex;

  margin-bottom: 31px;
}

.section-communication-fieldset {
  position: relative;
  border: 1px solid var(--light-grey);

  border-radius: 4px;
}

.section-communication-form-legend {
  padding: 0 8px;
  margin-left: 20px;

  color: var(--light-grey);
  font: var(--font-h10-12r);
  user-select: none;
}

.section-communication-fieldset:hover,
.section-communication-fieldset:focus {
  border-color: var(--white-1);
}

.section-communication-fieldset:hover .section-communication-form-legend,
.section-communication-fieldset:focus .section-communication-form-legend {
  color: var(--white-1);
}

.section-communication-fieldset-name {
  width: 100%;
  min-width: 259px;
  height: 58px;
}

.section-communication-fieldset-phone {
  width: 100%;
  min-width: 259px;
  height: 58px;

  margin-left: 20px;
}

.section-communication-fieldset-message {
  width: 100%;
  height: 106px;
}

.section-communication-form input:not([type="checkbox"]),
textarea {
  width: 90%;
  height: 80%;

  padding: 0;
  margin-right: 20px;
  margin-left: 20px;
  background-color: inherit;

  color: var(--white-2);
  font: var(--font-16r);
  outline: none;
  resize: none;

  -webkit-text-fill-color: var(--white-2);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
  appearance: none;
}

input[type="number"] {
  appearance: textfield;
}

:-webkit-autofill {
  background-color: var(--main-background) !important;
}

:autofill {
  background-color: var(--main-background);
}

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus,
:-webkit-autofill:active {
  background-clip: text;
}

.section-communication-fieldset:has(input:focus, textarea:focus) {
  border-color: var(--white-1);
}

.section-communication-fieldset:has(input:focus, textarea:focus)
  .section-communication-form-legend {
  color: var(--white-1);
}

.section-communication-form-lower-container {
  display: flex;
  align-items: center;

  margin-top: 40px;
}

.section-communication-form-agreement-container {
  position: relative;

  display: flex;

  max-width: 404px;
  align-items: center;

  margin-right: 6px;
}

.section-communication-form-agreement-input {
  width: 20px;
  min-width: 20px;
  height: 20px;
  appearance: none;
  background-image: url("../assets/images/section-communication-checkbox-unchecked.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  outline: none;
}

.section-communication-form-agreement-input.form-agreement-input-invalid{
  background-image: url("../assets/images/section-communication-checkbox-unchecked-invalid.svg");
}

.section-communication-form-agreement-input:checked {
  background-image: url("../assets/images/section-communication-checkbox-checked.svg");
}

.section-communication-form-agreement-input:not(:checked):hover {
  background-image: url("../assets/images/section-communication-checkbox-unchecked-hover.svg");
}

.section-communication-form-agreement-input:checked:hover {
  background-image: url("../assets/images/section-communication-checkbox-checked-hover.svg");
}

.section-communication-form-agreement-label {
  min-width: 248px;

  max-width: 372px;
  padding-left: 12px;

  color: var(--light-grey);
  font: var(--font-14r);
}

.section-communication-form-agreement-label-a {
  color: var(--white-2);
}

.section-communication-form-button {
  margin-left: auto;

  user-select: none;
}

/* FOOTER */

.footer {
  height: 398px;
  border-top: 1px solid var(--white-2);
}

.footer-container {
  display: flex;

  box-sizing: border-box;
  justify-content: space-between;

  padding: 92px 202px;
}

.footer-container > div {
  display: flex;
  flex-direction: column;
}

.footer-logo-container {
  display: flex;

  align-items: center;
}

.footer-logo {
  max-width: 50px;
  height: auto;
}

.footer-logo-name {
  height: 30px;
  margin-left: 20px;

  color: var(--white-1);
  font: var(--font-28l);
}

.footer-left-container-address {
  margin-top: 16px;

  color: var(--white-2);
  font: var(--font-16r);
}

.footer-left-container-copyright {
  margin-top: auto;

  color: var(--light-grey);
  font: var(--font-16r);
}

.footer-central-container-ul {
  font: var(--font-16r);
}

/* stylelint-disable-next-line no-descending-specificity */
.footer-central-container-ul li {
  margin-bottom: 12px;

  color: var(--white-2);
}

.footer-central-container-a {
  margin-top: auto;
  color: var(--light-grey);
  font: var(--font-16r);

  white-space: nowrap;
}

.footer-right-container {
  color: var(--white-2);

  text-align: right;
}

.footer-right-container-phone {
  color: var(--white-2);
  font: var(--font-20r);
}

.footer-right-container-mail {
  margin-top: 12px;

  color: var(--white-2);

  font: var(--font-16r);
  text-align: right;
}

.footer-right-container-img-container {
  display: flex;
  justify-content: space-between;

  margin-top: auto;
}

.footer-right-container-img-container a {
  width: 40px;
  height: 40px;
}

.icon:hover path {
  fill: var(--yellow);
}

.icon:hover circle {
  stroke: var(--yellow);
}

/* MODAL */

.modal.modal-open {
  display: flex;
}

.modal {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;

  display: none;

  width: 896px;
  height: 580px;
  box-sizing: border-box;

  flex-direction: column;

  padding: 112px 127.5px;

  border-radius: 5px;
  background-color: var(--dark-grey-background);
  box-shadow: 8px 8px 4px 0 rgb(0 0 0 / 25%);

  overflow-y: auto;

  transform: translate(-50%, -50%);
}

.modal-header {
  color: var(--white-1);

  font: var(--font-h6-48m);
}

.modal.modal-hash-active {
  padding-bottom: 92px;
}

.modal.try-for-free .modal-header {
  font: var(--font-h21-36s);
}

.modal-close-button {
  position: absolute;

  top: 54px;
  right: 54.32px;

  background-color: inherit;
}

.body.modal-open::before {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
  content: "";
}

.modal-upper {
  display: flex;

  width: 100%;
}

.header-container {
  max-width: 50%;
  flex: 1;
}

.modal-hashtag {
  width: fit-content;

  padding: 6px 28px;
  border-radius: 100px;
  margin-top: 21px;

  background-color: var(--yellow);
  color: var(--main-background);
  font: var(--font-22r);
}

.modal-p-container {
  max-width: 50%;
  flex: 1;
}

.modal-demo-p {
  margin-right: -30px;
  margin-bottom: 19px;
  margin-left: 12px;

  color: var(--white-1);

  font: var(--font-22s);
}

.modal-p {
  margin-top: 8px;
  margin-right: 75px;
  margin-left: 12px;
  color: var(--white-2);

  font: var(--font-22r);
}

.modal.try-for-free .modal-p {
  margin-right: -30px;
}

.modal-lower {
  margin-top: auto;
}

.modal-form-agreement {
  max-width: 295px;
}

.modal-form-upper-container {
  display: flex;

  margin-bottom: 31px;
}

.modal-fieldset {
  position: relative;
  border: 1px solid var(--light-grey);

  border-radius: 4px;
}

.modal-form-legend {
  padding: 0 8px;
  margin-left: 20px;

  color: var(--light-grey);
  font: var(--font-h10-12r);
  user-select: none;
}

.modal-fieldset:hover,
.modal-fieldset:focus {
  border-color: var(--white-1);
}

.modal-fieldset:hover .modal-form-legend,
.modal-fieldset:focus .modal-form-legend {
  color: var(--white-1);
}

.modal-fieldset-name {
  width: 100%;
  min-width: 259px;
  height: 58px;
}

.modal-fieldset-phone {
  width: 100%;
  min-width: 259px;
  height: 58px;

  margin-left: 20px;
}

.modal-fieldset-message {
  width: 100%;
  height: 106px;
}

.modal-form input:not([type="checkbox"]),
textarea {
  width: 90%;
  height: 80%;

  padding: 0;
  margin-right: 20px;
  margin-left: 20px;
  background-color: inherit;

  color: var(--white-2);
  font: var(--font-16r);
  outline: none;
  resize: none;

  -webkit-text-fill-color: var(--white-2);
}

.modal-fieldset:has(input:focus, textarea:focus) {
  border-color: var(--white-1);
}

.modal-fieldset:has(input:focus, textarea:focus) .modal-form-legend {
  color: var(--white-1);
}


.modal-form-lower-container {
  display: flex;
  align-items: center;

  margin-top: 40px;
}

.modal-form-agreement-container {
  position: relative;
  
  display: flex;

  max-width: 404px;
  align-items: center;

  margin-right: 6px;
}

.modal-form-agreement-input {
  width: 20px;
  min-width: 20px;
  height: 20px;
  appearance: none;
  background-image: url("../assets/images/section-communication-checkbox-unchecked.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  outline: none;
}

.modal-form-agreement-input.form-agreement-input-invalid{
  background-image: url("../assets/images/section-communication-checkbox-unchecked-invalid.svg");
}

.modal-form-agreement-input:checked {
  background-image: url("../assets/images/section-communication-checkbox-checked.svg");
}

.modal-form-agreement-input:not(:checked):hover {
  background-image: url("../assets/images/section-communication-checkbox-unchecked-hover.svg");
}

.modal-form-agreement-input:checked:hover {
  background-image: url("../assets/images/section-communication-checkbox-checked-hover.svg");
}

.modal-form-agreement-label {
  min-width: 248px;

  max-width: 295px;
  padding-left: 12px;

  color: var(--light-grey);
  font: var(--font-14r);
}

.modal-form-agreement-label-a {
  color: var(--white-2);
}

.modal-form-button {
  margin-left: auto;

  user-select: none;
}

.modal-sent-header {
  color: var(--white-1);
  font: var(--font-h6-48m);
}

.modal-sent-p {
  width: 292px;
  margin-top: 19px;
  color: var(--white-2);

  font: var(--font-22r);
}

.modal-sent-img {
  position: absolute;

  top: 92px;
  right: 137px;
}

.modal-sent-button {
  position: absolute;
  bottom: 112px;
  left: 50%;
  margin-right: auto;

  margin-left: auto;

  transform: translateX(-50%);
}

/* <<<<< UI-Kit >>>>> */

.middle-button {
  display: flex;

  height: 48px;
  align-items: center;
  justify-content: center;
}

.large-button {
  display: flex;
  width: 236px;
  min-width: 236px;

  height: 56px;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.main-button {
  border-radius: 2px;

  background-color: var(--yellow);
  color: var(--main-background);

  font: var(--font-16s);
}

.main-button:hover {
  background-color: var(--white-1);
}

.main-button:disabled {
  color: var(--light-grey);

  cursor: not-allowed;
}

.main-button:disabled:hover {
  background-color: var(--yellow);
}

.secondary-button {
  box-sizing: border-box;

  border: 1px solid var(--white-2);
  border-radius: 2px;

  background-color: inherit;
  color: var(--white-2);

  font: var(--font-16r);
}

.secondary-button:hover {
  background-color: var(--dark-white);
  color: var(--main-background);
}

.text-button-1 {
  color: var(--white-1);
}

.text-button-1:hover {
  color: var(--yellow);
}

.text-button-2 {
  background-color: inherit;
  cursor: pointer;
}

.text-button-2:hover {
  background-color: var(--yellow);
  color: var(--main-background);
}

.text-button-2:hover .text-button-2-svg-path {
  stroke: var(--main-background);
}

.text-button-3 {
  color: var(--yellow);
}

.text-button-3:hover {
  background-color: var(--yellow);
  color: var(--main-background);
}

.text-button-3:hover path {
  stroke: var(--main-background);
}

.scroll-button:not(.scroll-button-enabled) {
  cursor: default;
}

.scroll-button-left {
  margin-right: 40px;
}

.scroll-button.scroll-button-disabled circle {
  stroke: var(--light-grey);
}

.scroll-button.scroll-button-disabled path {
  stroke: var(--light-grey);
}

.scroll-button.scroll-button-enabled:hover circle {
  fill: var(--white-1);
  stroke: none;
}

.section-works-audio-card-controls > button:hover rect,
.section-works-audio-card-controls > button:hover path,
.section-works-audio-card-controls > button:hover object rect,
.section-works-audio-card-controls > button:hover object path {
  fill: var(--light-grey);
}

.scroll-button.scroll-button-enabled:hover path {
  stroke: var(--main-background);
}

.display-none {
  display: none;
}

.iti {
  width: 100%;
}

.iti__selected-dial-code {
  color: var(--white-1);
}

.iti__country-name {
  color: var(--white-1);
}

.iti--fullscreen-popup {
  border-color: var(--dark-grey-elements-2) !important;

  background-color: var(--dark-grey-background) !important;

  font: var(--font-14rr);
}

.iti__dropdown-content {
  border-color: var(--dark-grey-elements-2) !important;

  background-color: var(--dark-grey-background) !important;

  font: var(--font-14rr);
}

.iti__tel-input {
  margin-left: 0 !important;
}

.iti__search-input {
  display: none;
}

.section-communication-form .phonenumber-input-container {
  margin-top: 7px;
  margin-left: 5px;

  font: var(--font-16r);
}

.modal-form .phonenumber-input-container {
  margin-top: 7px;
  margin-left: 8px;

  font: var(--font-16r);
}

.form-phone {
  width: 80% !important;
  
  margin-left: 53px !important;
}

.form-phone::placeholder {
  color: var(--dark-grey-elements-2);
  -webkit-text-fill-color: var(--dark-grey-elements-2);
}

.form-input-error {
  position: absolute;
  bottom: -22px;
  left: 0;

  color: var(--error-color);
  font: var(--font-12r);
}

fieldset.fieldset-error {
  border-color: var(--error-color);
}
